.todo{
    font-size: 40px;
    color: purple;
}

.todo:hover{
    background-color: rgba(0,0,0,0.1);
    transition: all 200ms;
}

.completed{
    color:grey;
    text-decoration: line-through;
    
}

h1{
    text-align: center;
}

.big{
    transform:scale(2); /* This will double the size or the original scale */
    color: greenyellow;
    transition: all 1500ms;
}

.small{
    transform:scale(0.5); /* This will half the size of the original scale */
    color: plum;
    transition: all 1500ms;
}

body{
    background-color: gray;
}

li{
    width: fit-content;
}